body{
    background-color: white;
    background-image: url(logo UCC.jpg);
     background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  margin-top:30px;
  font-family:arial,helvetica,sans-serif;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
header{
background-color: gray;
margin: 0;
padding: 20PX;
border-radius: 10px;
}

form#O{
    background-image: linear-gradient(45deg, white, rgb(107, 104, 104),black);
    width: 500px;
    height: 300px;
  
    border-radius: 20px;
    box-shadow: inset;
    color: black;
    border-bottom: 5px;
    padding: 50px;
     font-family:arial;
}
input{
    background-color: rgb(222, 223, 220);
    padding: 8px;
}

a{

    text-decoration-line: none;
    color: black;
    outline: none ;
}
button{
    background-color: white;
    border-radius: 3px;
    outline: none ;
}

footer{
    background-color: black;
    color: white;
    height: 150px;
    padding: 15px;
;
}
#de{
    background-color: rgb(192, 190, 190);
}
button:hover{
    background-color: darkgrey;
}
button#de{
    background-color: darkgrey;
    padding: 5px;
    width: 95px;

}
button:hover#de{
    background-color: beige;
    cursor: pointer;
}
a:hover{
    background-color: rgb(160, 156, 156);
    color: rgb(7, 7, 7);
}
.fcadastro{
     background-image: linear-gradient(45deg, white, rgb(107, 104, 104),black);
  

    font-family: Arial, Helvetica, sans-serif;
    
}
#email{
    width: 250px;
     border-radius: 5px;
      background-color: gray;
}
#tel{
    width: 231px;
    border-radius: 5px;
    outline: none;
     background-color:  gray;
}
#nome{
     border-radius: 5px;
      outline: none;
      background-color: gray;
      
}


#email:hover
{
    background-color: white;}
 #nome:hover
    {
    background-color: white;}
  #tel:hover
    {
    background-color: white;}
  #data:hover
    {
        
    background-color: white;}
    #data{
        border-radius: 10px;
        outline: none;
        font-family: Arial, Helvetica, sans-serif
    }
    #iniciar{
        margin-right: 1250px;
    }
    .cr{
        color: rgb(110, 109, 110);
        
    }
    .ct{
         color: rgb(110, 109, 110);
    }
    #cc{
        
        color: red;
        bottom: 250px;
        right: 500px;
        text-align: right;
    }
    .password{
        right: 100%;
        
    }
    .ip{
        display:block ;
    }